<template>
    <!--stav pro zápis hodnot-->
    <div v-if="editing && value" class="col-12 col-sm-6 col-md-4 col-md-12">
        <div class="form-row">
            <div class="col-7 col-md-12 col-lg-7">
                <div class="mdc-text-field transparent mb-md-2">
                    <input v-model="date" class="mdc-text-field__input" id="date_deadline" type="text" ref="date" @blur="offEditing">
                    <label class="mdc-floating-label mdc-floating-label--float-above" for="date_deadline">Deadline</label>
                </div>
            </div>
            <div class="col-5 col-md-7 col-lg-5">
                <div class="mdc-text-field transparent">
                    <input class="mdc-text-field__input" id="time_deadline" type="text" value="12:00" @focus="editing = true" @blur="offEditing">
                    <label class="mdc-floating-label mdc-floating-label--float-above d-none d-md-block d-lg-none" for="time_deadline">time</label>
                </div>
            </div>
        </div>
    </div>
    <!--stav pro čtení-->
    <div v-else class="col-12 col-sm-6 col-md-12">
        <div class="mdc-text-field transparent">
            <div class="mdc-text-field__input orange-text" @click="onEditing">{{value}}</div>
            <div class="mdc-floating-label mdc-floating-label--float-above">Deadline</div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            editing: false,
            form: {
                deadline: '15. 12. 1901'
            }
        };
    },
    computed: {
        date: {
            get: function() {
                const d = new Date(this.value);
                return `${d.getDay()}. ${d.getMonth() + 1}. ${d.getFullYear()}`;
            },
            set: function(newDate) {
                const splitedDate = newDate.split('. ');
                const d = new Date(this.value);
                d.setDate(splitedDate[0]);
                d.setMonth(splitedDate[1]);
                d.setFullYear(splitedDate[2]);
            }
        }
    },
    methods: {
        onEditing() {
            this.editing = true;
            this.$nextTick(() => {
                console.log(this.$refs);
                this.$refs.date.focus();
            });
        },
        offEditing() {
            this.editing = false;
            this.$emit('input', new Date());
        }
    }
};
</script>
