<template>
    <div class="col-12 col-sm-4 col-md-12">
        <div class="mdc-text-field mdc-text-field--with-trailing-icon transparent">
            <input v-model="form.hour_rate.amount" class="mdc-text-field__input my-number" id="hour_rate" type="text">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="hour_rate">Hour rate</label>
            <span class="mdc-text-field__icon">{{form.hour_rate.currency}}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            form: {
                hour_rate: {
                    amount: '',
                    currency: 'CZK'
                }
            }
        };
    }
};
</script>
