<template>
    <div class="col-12 col-sm-4 col-md-12">
        <div class="mdc-text-field mdc-text-field--with-trailing-icon mdc-text-field--disabled transparent">
            <input v-model="form.bilance_cost.amount" class="mdc-text-field__input my-number" id="bilance_cost" type="text">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="bilance_cost">Cost bilance</label>
            <span class="mdc-text-field__icon">{{form.bilance_cost.currency}}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            editing: false,
            form: {
                bilance_cost: {
                    amount: '',
                    currency: 'CZK'
                }
            }
        };
    }
};
</script>
