<template>
    <div class="col-12 col-sm-4 col-md-12">
        <div class="mdc-text-field mdc-text-field--with-trailing-icon mdc-text-field--disabled transparent">
            <input class="mdc-text-field__input my-number" id="bilance_duration" type="text" value="64,15">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="bilance_duration">Duration bilance</label>
            <span class="mdc-text-field__icon">hrs.</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            form: {
                bilance_duration: '??? bilance_duration'
            }
        };
    }
};
</script>
