<template>
    <div class="col-sm-6 col-md-3">
        <div class="mdc-text-field transparent">
            <div class="mdc-select transparent">
                <i class="mdc-select__dropdown-icon"></i>
                <select v-model="form.status" class="mdc-select__native-control">
                    <option value="pending">⚪ Pending</option>
                    <option value="open">❇️ Open</option>
                    <option value="completed">⚫ completed</option>
                    <option value="archived">⚫ Archived</option>
                </select> <label class="mdc-floating-label mdc-floating-label--float-above">Staus</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <!--
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="margin-bottom: 2rem;">
            <label for="status-pending"><input name="status" id="status-pending" type="radio" value="pending" checked><div class="mdc-button"><span class="mdc-button__label">Pending</span></div></label>
            <label for="status-open"><input name="status" id="status-open" type="radio" value="open"><div class="mdc-button"><span class="mdc-button__label">Open</span></div></label>
            <label for="status-completed"><input name="status" id="status-completed" type="radio" value="completed"><div class="mdc-button"><span class="mdc-button__label">Completed</span></div></label>
            <label for="status-archived"><input name="status" id="status-archived" type="radio" value="archived"><div class="mdc-button"><span class="mdc-button__label">Archived</span></div></label>
        </div>
        -->
        <!--
        <div class="col-12 col-sm-4 col-md-12">
            <div class="mdc-select">
                <input type="hidden" name="enhanced-select">
                <i class="mdc-select__dropdown-icon"></i>
                <div id="status-selected-text" class="mdc-select__selected-text" role="button" aria-haspopup="listbox" aria-labelledby="status-label status-selected-text">Pending</div>
                <div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox">
                    <ul class="mdc-list">
                        <li class="mdc-list-item mdc-list-item--selected" data-value="pending" aria-selected="true" aria-disabled="true" role="option">Pending</li>
                        <li class="mdc-list-item" data-value="open" role="option">Open</li>
                    </ul>
                </div>
                <span id="status-label" class="mdc-floating-label mdc-floating-label--float-above">Status</span>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        -->
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            form: {
                status: 'pending'
            }
        };
    }
};
</script>
