<template>
    <form class="mdc-card" @submit.prevent="formSubmitted">

        <div class="mdc-linear-progress" role="progressbar" style="border-radius: 4px 4px 0 0;">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.25);"><span class="mdc-linear-progress__bar-inner"></span></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
        </div>

        <div class="mdc-card__primary my-entity-view">

            <div class="form-row">

                <div class="col-sm-9 col-md-7">
                    <div class="mdc-text-field transparent">
                        <input v-model="form.name" class="mdc-text-field__input" id="name" type="text">
                        <label class="mdc-floating-label mdc-floating-label--float-above" for="name">Name</label>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 pr-md-4">
                    <div class="mdc-text-field transparent">
                        <input v-model="componentProjectId" class="mdc-text-field__input" id="project-id" type="text" disabled="disabled">
                        <label class="mdc-floating-label mdc-floating-label--float-above" for="project-id">Project prefix</label>
                    </div>
                </div>
                <select-status1 v-model="form.status"></select-status1>

                <div class="col-md-3 order-md-1">
                    <div class="form-row">
                        <date-input-opened v-model="form.date_opened"></date-input-opened>
                        <date-input-deadline v-model="form.deadline"></date-input-deadline>
                        <date-input-closed v-model="form.date_closed"></date-input-closed>
                        <number-input-hour-rate v-model="form.hour_rate"></number-input-hour-rate>
                        <number-input-bilance-cost v-model="form.bilance_cost"></number-input-bilance-cost>
                        <number-input-bilace-duration v-model="form.bilance_duration"></number-input-bilace-duration>
                    </div>
                </div>

                <div class="col-md-9 order-md-0 pr-md-4">
                    <div class="mdc-text-field mdc-text-field--textarea">
                        <textarea-autosize v-model="form.description" class="mdc-text-field__input" id="description" rows="6"></textarea-autosize>
                        <label class="mdc-floating-label mdc-floating-label--float-above" for="description">Definition</label>
                    </div>
                    <div class="mdc-text-field mdc-text-field--textarea">
                        <textarea v-model="form.goals_and_metrics" class="mdc-text-field__input" id="goals_and_metrics" rows="3"></textarea>
                        <label class="mdc-floating-label mdc-floating-label--float-above" for="goals_and_metrics">Goals and metrics</label>
                    </div>
                    <div class="mdc-text-field mdc-text-field--textarea">
                        <textarea v-model="form.limitations_and_restrictions" class="mdc-text-field__input" id="limitations_and_restrictions" rows="3"></textarea>
                        <label class="mdc-floating-label mdc-floating-label--float-above" for="limitations_and_restrictions">Limitations and restrictions</label>
                    </div>
                </div>

            </div>

        </div>

        <div class="mdc-card__actions" style="padding: 1rem;">
            <div class="mdc-card__action-icons">
                <nuxt-link class="mdc-button mdc-card__action mdc-card__action--button" to="/project/">
                    <i class="material-icons mdc-button__icon">chevron_left</i>Back
                </nuxt-link>
                <button class="mdc-button mdc-button--raised" type="submit">
                    <slot name="submitButton">Save</slot>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
import dateInputClosed from '../form/date-time--closed';
import dateInputDeadline from '../form/date-time--deadline';
import dateInputOpened from '../form/date-time--opened';
import numberInputBilanceCost from '../form/number--bilace-cost';
import numberInputBilaceDuration from '../form/number--bilance-duration';
import numberInputHourRate from '../form/number--hour-rate';
import selectStatus1 from '../form/select--status-1';

export default {
    props: ['projectId', 'project'],
    components: {
        dateInputClosed,
        dateInputDeadline,
        dateInputOpened,
        numberInputBilanceCost,
        numberInputBilaceDuration,
        numberInputHourRate,
        selectStatus1
    },
    data() {
        console.log(this.project);
        return {
            componentProjectId: undefined,
            form: this.project || {
                date_closed: '2003-10-02T15:00:00.05Z',
                date_opened: '15. 12. 2002',
                deadline: '2004-10-02T15:00:00.05Z',
                description: '',
                files: ['string'],
                goals_and_metrics: 'string',
                hour_rate: {
                    amount: 0,
                    currency: 'CZK'
                },
                limitations_and_restrictions: 'string',
                name: '',
                primary_color: '#343434',
                secondary_color: '#343434',
                status: 'pending'
            }
        };
    },
    watch: {
        'form.name': function() {
            this.$store.commit('setHeaderName', this.form.name);
        }
    },
    beforeMount() {
        if (this.project) {
            this.form = Object.assign({}, this.form, this.project);
        }
        if (this.projectId) {
            this.componentProjectId = this.projectId;
        }
    },
    methods: {
        formSubmitted() {
            this.$emit('formSubmitted', this.form, this.componentProjectId);
        }
    }
};
</script>
