<template>
    <div>
        <script>
        mdc.autoInit();
        </script>
        <main class="u-main container">
            <project-form :projectId="$route.params.id" :project="project" @formSubmitted="formSubmitted">
                <template slot="submitButton"><i class="material-icons mdc-button__icon">save</i>Save</template>
            </project-form>
        </main>
    </div>
</template>

<script>
import projectForm from '~/components/project/form';

export default {
    name: 'projectDetail',
    components: { projectForm },
    data() {
        return {
            project: undefined
        };
    },
    async asyncData({ app, route, store }) {
        try {
            const project = await app.$api.project.getProject(route.params.id);
            console.log(project.name);
            store.commit('setHeaderName', project.name);
            return {
                project
            };
        } catch (e) {
            console.error(e);
        }
    },
    methods: {
        async formSubmitted(project, id) {
            try {
                console.log(project, id);
                await this.$api.project.updateProject(id, project);
            } catch (e) {
                console.error(e);
            }
        }
    }
};
</script>
