/*
@import "variables";
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";

body {
  color: color("blue-grey", "lighten-2");
  background-color: color("blue-grey", "darken-4");
}
body * {
  color: color("shades", "white");
}

.u-header.u-header--main {
  nav {
    background-color: color("blue-grey", "darken-4");
  }

  .nav-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .nav-title {
    font-size: 1.4rem;
    padding: 0;
  }
}

.u-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-card-project {
  //padding-top: 2rem;
  //padding-bottom: 2rem;
  color: color("blue-grey", "lighten-5");

  &__item {
  }

  &__header {
  }

  &__desc {
    color: color("blue-grey", "lighten-2");
  }

  &__title {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .collection.with-header .collection-item {
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .collection .collection-header {
    border-bottom: solid color("blue-grey", "darken-4") 1px;
  }
}

#dropdown-search {
  height: $navbar-height;

  label, i {
    z-index: 0;
  }

  input {
    z-index: 1;
    position: relative;
    width: 0;
    transition: width .3s ease-in-out, background-color .3s ease-in-out;
    background: none;
    cursor: pointer;

    &:focus,
    &:active {
      width: 200px;
      cursor: text;
      background: #fff;

      ~ label, ~ i {
        z-index: 1;
      }
    }
  }
}

.pagination {
  vertical-align: middle;

  li {
    line-height: 30px;

    a {
      color: $link-color;
    }

    &.active {
      background: color("blue-grey", "darken-3");
      background: none;

      a {
        color: color("blue-grey", "lighten-3");
      }
    }

    &.disabled a {
      color: color("blue-grey", "lighten-2");
    }
  }
}

::-webkit-input-placeholder {
  //font-style: italic;
  color: $input-border-color;
}

:-moz-placeholder {
  //font-style: italic;
  color: $input-border-color;
}

::-moz-placeholder {
  //font-style: italic;
  color: $input-border-color;
}

:-ms-input-placeholder {
  //font-style: italic;
  color: $input-border-color;
}
.input-field.input-group.input-group--select {
  input[type="text"] {
    width: 70%;

    ~ select, ~ .select-wrapper {
      width: 25%;
    }

    ~ .select-wrapper {
      display: inline-block;
    }
  }
}

.input-field.input-group.input-group--datetime {
  input {
    width: 65%;

    ~ input {
      width: 30%;
    }
  }

}
*/


.mdc-card {
  .mdc-card__primary {
    padding: 0 1rem;
  }

  .align-items-stretch & {
    height: 100%;
  }

  .mdc-card__title {
    margin: 0 0 0.5rem;
    line-height: 1.2;
  }

  .mdc-card__subtitle {
    color: rgba(0, 0, 0, 0.54);
  }
}

.u-main {
  padding: 80px 0;

  .mdc-card__primary {
    position: relative;
    padding: 1rem;
  }

  .form-row {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 768px) {
    .mdc-card__primary.my-entity-view::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      display: block;
      width: calc(25% + 1rem);
      background-color: #f6f6f6;
    }
  }
}

.mdc-text-field,
.mdc-select {
  width: 100%;
}

// TODO: předělat podle MDC
@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
@import '~materialize-css/sass/components/variables';

form {
  .mdc-text-field__icon {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    text-decoration: inherit;
    text-transform: inherit;
    letter-spacing: 0.009375em;
  }

  .mdc-text-field--with-trailing-icon {
    .mdc-text-field__input.my-number {
      padding-right: 56px;
      font-weight: 500;
      text-align: right;

      ~ .mdc-text-field__icon {
        bottom: 7px;
        min-width: 32px;
      }
    }
  }

  .mdc-text-field--textarea {
    margin-bottom: 1.5rem;
    overflow: hidden;

    &:hover::before {
      opacity: 0.04;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 100%);
      left: calc(50% - 100%);
      opacity: 0;
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.87);
      pointer-events: none;
    }

    &:not(.mdc-text-field--disabled) {
      padding-top: 20px;
      padding-bottom: 8px;
      border-bottom: solid rgba(0, 0, 0, 0.42) 1px;
    }

    .mdc-text-field__input {
      margin: 2px 1px 1px 0;
    }

    .mdc-floating-label.mdc-floating-label--float-above {
      top: 31px;
      left: 16px;
    }
  }

  .mdc-text-field,
  .mdc-select {
    margin-bottom: 1.5rem;
  }

  //input[name='status'] {
  //  position: absolute;
  //  z-index: -1;
  //
  //  &[value='pending'] {
  //    &:not(:checked):hover + .mdc-button {
  //      background-color: color('blue', 'lighten-4');
  //    }
  //
  //    &:checked + .mdc-button {
  //      background-color: color('blue', 'lighten-2');
  //    }
  //  }
  //
  //  &[value='open'] {
  //    &:not(:checked):hover + .mdc-button {
  //      background-color: color('green', 'lighten-4');
  //    }
  //
  //    &:checked + .mdc-button {
  //      background-color: color('green', 'lighten-2');
  //    }
  //  }
  //
  //  &[value='completed'],
  //  &[value='archived'] {
  //    &:not(:checked):hover + .mdc-button {
  //      background-color: color('blue-grey', 'lighten-4');
  //    }
  //
  //    &:checked + .mdc-button {
  //      background-color: color('blue-grey', 'lighten-1');
  //    }
  //  }
  //
  //  + .mdc-button {
  //    background-color: transparent;
  //  }
  //}
}

// Bootstrap copy
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// materialize-css pagination

// Pagination

.pagination {
  margin-top: 40px;
  text-align: center;

  li {
    display: inline-block;
    height: 30px;
    text-align: center;
    vertical-align: top;
    border-radius: 2px;

    a {
      display: inline-block;
      padding: 0 10px;
      font-size: 1.2rem;
      line-height: 30px;
      color: #444;
    }

    &.active a {
      color: #fff;
    }

    &.active {
      background-color: $primary-color;
    }

    &.disabled a {
      color: #999;
      cursor: default;
    }

    i {
      font-size: 2rem;
    }
  }

  li.pages ul li {
    display: inline-block;
    float: none;
  }
}
