@media screen {
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/variables';


  body:before {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1002003004005;
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    font-family: monospace;
    text-transform: uppercase;
    color: #fff;
    background: rgba(#f0f, 0.8);
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        content: '#{$breakpoint} #{map-get($grid-breakpoints, $breakpoint)}';
      }
    }
  }
}

