<template>
    <div class="mdc-typography">
        <header class="mdc-top-app-bar mdc-top-app-bar--dense mdc-top-app-bar--fixed">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <!--<a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>-->
                    <span class="mdc-top-app-bar__title">{{headerName}}</span>
                </section>
                <component v-if="headerTabs" :is="headerTabs" keep-alive></component>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <!--<nuxt-link to="/project/" class="material-icons mdc-top-app-bar__action-item" aria-label="Projects">desktop_mac</nuxt-link>-->
                    <nuxt-link class="mdc-icon-button material-icons" to="/project/new/">add</nuxt-link>
                </section>
                <!--<form id="dropdown-search">-->
                <!--<div class="input-field">-->
                <!--<input v-model="searchText" id="search" type="search" placeholder="Hledání projektu">-->
                <!--<label class="label-icon" for="search"><i class="material-icons">search</i></label>-->
                <!--<i class="material-icons">close</i>-->
                <!--</div>-->
                <!--</form>-->

                <!--<div class="mdc-top-app-bar__row">-->
                    <!--<section class="mdc-top-app-bar__section mdc-top-app-bar__section&#45;&#45;align-start">-->
                        <!--&lt;!&ndash;<a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>&ndash;&gt;-->
                        <!--<span class="mdc-top-app-bar__title">Název projektu</span>-->
                    <!--</section>-->
                <!--</div>-->
            </div>
        </header>
        <nuxt />
    </div>
</template>

<script>
import projectTab from '~/components/header/projectTab';

export default {
    components: {
        projectTab
    },
    computed: {
        headerName() {
            return this.$store.state.headerName;
        },
        componentName() {
            return this.$route.name;
        },
        headerTabs() {
            if (this.componentName === 'project') {
                return 'projectTab';
            } else if (this.componentName === 'project-id') {
                return false;
            } else {
                return false;
            }
        }
    }
};
</script>
