<template>
    <div class="u-main">
        <main class="container">
            <h1>Evidence prace</h1>
            <ul class="mdc-list mdc-elevation--z1">
                <li class="mdc-list-item">
                    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">desktop_mac</span>
                    <nuxt-link to="/project">Projekty</nuxt-link>
                </li>
            </ul>
        </main>
    </div>
</template>


