<template>
    <div class="u-main">
        <script>
        mdc.autoInit();
        </script>

        <main class="container" id="projects-all">
            <h1 class="sr-only">Projekty</h1>

            <div class="row align-items-stretch">
                <div v-for="(project, index) in projectsPerPage" class="col-sm-6 col-lg-4 col-xl-3" :key="index">
                    <div class="mdc-card d-flex align-items-start flex-column">
                        <div class="mdc-card__primary">
                            <h2 class="mdc-card__title mdc-typography--headline6">{{project.name}}</h2>
                            <div class="mdc-card__subtitle mdc-typography--subtitle1">{{project.description}}</div>
                        </div>
                        <div class="mdc-card__actions mt-auto">
                            <div class="mdc-card__action-buttons">
                                <nuxt-link class="mdc-button mdc-card__action mdc-card__action--button" :to="`/project/${project.id}`">
                                    <span class="mdc-button__label">Detail</span>
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section class="container" id="projects-archived">
            <h2 class="sr-only">Archivované projekty</h2>
        </section>

        <div class="container">
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="sr-only">Zobrazeno {{itemsPerPage > projects.length ? projects.length : itemsPerPage}} z {{projects.length}}</li>
                    <li class="waves-effect" :class="{'disabled': currentPage === 1}">
                        <a href="#" @click.prevent="currentPage = currentPage > 1 ? currentPage - 1 : currentPage" tabindex="-1">
                            <i class="material-icons">chevron_left</i> </a>
                    </li>
                    <li v-for="page in pagesPagination" class="waves-effect" :key="page" :class="{'active': currentPage === page}">
                        <a @click.prevent="currentPage = page">{{page}}</a>
                    </li>
                    <li class="waves-effect" :class="{'disabled': currentPage === pagesCount}">
                        <a href="#" @click.prevent="currentPage = currentPage < pagesCount ? currentPage + 1 : currentPage">
                            <i class="material-icons">chevron_right</i> </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<ul class="sidenav" id="mobile-demo">-->
        <!--<nuxt-link to="/project/">Projects</nuxt-link>-->
        <!--</ul>-->
    </div>
</template>

<script>
export default {
    name: 'projects',
    beforeMount() {
        this.$store.commit('setHeaderName', 'Projekty');
    },
    beforeDestroy() {
        this.$store.commit('setHeaderName', '');
    },
    async mounted() {
        this.projectsData = await this.$api.project.getProjects();
    },
    data() {
        return {
            projectsData: [],
            itemsPerPage: 10,
            currentPage: 1,
            searchText: '',
            filters: {}
        };
    },
    computed: {
        mappedProjects() {
            return this.projectsData.map((project) => {
                return {
                    ...project
                };
            });
        },
        projects() {
            let projects = this.mappedProjects;
            const filters = this.filters;
            Object.keys(this.filters).forEach((filter) => {
                if (typeof filters[filter] !== 'undefined') {
                    projects = projects.filter((project) => {
                        return filter in project
                            ? project[filter] === filters[filter]
                            : false;
                    });
                }
            });
            if (this.searchText.length >= 1) {
                return projects.filter((project) => {
                    const reg = new RegExp(this.searchText, 'gi');
                    return (
                        project.name.match(reg) ||
                        project.description.match(reg)
                    );
                });
            } else {
                return projects;
            }
        },
        projectsPerPage() {
            const start =
                this.currentPage * this.itemsPerPage - this.itemsPerPage;
            return this.projects.slice(start, start + this.itemsPerPage);
        },
        pagesCount() {
            return Math.ceil(this.projects.length / this.itemsPerPage);
        },
        pagesPagination() {
            const count = this.pagesCount;
            const result = [];
            for (let i = 1; i <= count; i++) {
                result.push(i);
            }
            return result;
        }
    }
};
</script>
