<template>
    <main class="u-main container">
        <project-form @formSubmitted="formSubmitted"></project-form>
    </main>
</template>

<script>
import projectForm from '~/components/project/form';

export default {
    name: 'projectNew',
    components: { projectForm },
    beforeMount() {
        this.$store.commit('setHeaderName', 'Nový projekt');
    },
    methods: {
        formSubmitted(project, id) {
            try {
                this.$api.project.createProject(id, project);
            } catch (e) {
                console.error(e);
            }
        }
    }
};
</script>
